<div class="container land">
  <!-- search drop-->
  <div class="searchDrop">
    <div class="row search-holder">
      <div class="large-12 column"><i id="close-search" class="fa fa-times"></i>
        <input type="search" placeholder="examples: foundation, skeleton"/>
      </div>
      <div class="large-12 column text-center">
        <input type="button" value="Search" id="search" class="button searchButton text-center"/>
      </div>
    </div>
  </div>
  <!-- main-->
  <div class="row land-center">
    <div class="large-12 column text-center land-text">
      <h1 class="light">Why use <span class="rotate">Foundation|Bootstrap|Ruby on Rails|PHP|Jekyll|jQuery|Animate.css|Sass|Autoprefixer|Stylus|Jade|Slim|HAML|Octopress</span><span>?</span></h1>
      <h3 class="second">A community resource for Web Designers and Developers</h3>
      <div class="button searchButton">Search</div>
      <div class="land-more one-spacing">
        <a href="#more">
          <h5 class="light">more</h5><%= image_tag("chevdown.svg", class:"chevdown") %>
        </a></div>
    </div>
  </div>
</div><a name="more"></a>
<div class="quarter overview">
  <div class="row">
    <div class="large-10 column text-left">
      <h1 class="dark">The Why Use Philosophy</h1>
      <h4 class="dark">A resource dedicated to the discussion and explanation of frameworks, languages, libraries, and more to help developers and designers make informed decisions on tech while in the process of planning projects.</h4>
    </div>
  </div>
</div>
<div class="grid">
  <div class="grid-sizer">
    <a href="#0" class="grid-item" id="foundation">
      <div class="overlay-block">
        <h2>Foundation</h2>
      </div>
      <%= image_tag("yeti.png", :alt => "Foundation Yeti") %>
    </a>
    <a href="#0" class="grid-item" id="angular">
      <div class="overlay-block">
        <h2>Angular JS</h2>
      </div>
      <%= image_tag("angular.png", :alt => "Angular JS") %>
    </a>
    <a href="#0" class="grid-item" id="bootstrap">
      <div class="overlay-block">
        <h2>Bootstrap</h2>
      </div>
      <%= image_tag("bootstrap.png", :alt => "Bootstrap") %>
    </a>
    <a href="#0" class="grid-item" id="yeoman">
      <div class="overlay-block">
        <h2>Yeoman</h2>
      </div>
      <%= image_tag("yeoman.png", :alt => "Yeoman") %>
    </a>
    <a href="#0" class="grid-item" id="grunt">
      <div class="overlay-block">
        <h2>Grunt JS</h2>
      </div>
      <%= image_tag("grunt.png", :alt => "Grunt JS") %>
    </a>
    <a href="#0" class="grid-item" id="rails">
      <div class="overlay-block">
        <h2>Ruby on Rails</h2>
      </div>
      <%= image_tag("rails.png", :alt => "Ruby on Rails") %>
    </a>
  </div>
</div>
<div class="container">
  <div class="row about">
    <div class="small-12 medium-3 column"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/324479/mason.png" class="img-round"/></div>
    <div class="small-12 medium-8 end column">
      <h1>Hi, I'm Mason</h1>
      <h5>I'm a front end web developer and have a passion for learning! When I started in the web, I was always confused about which technology to use at the right time. There are so many languages and frameworks at your disposal, let's discuss why and even when we should use them.</h5>
    </div>
  </div>
  <div class="quarter write">
    <div class="row">
      <div class="small-12 column text-center">
        <h2 class="light">Want to write?</h2>
        <h4 class="light">Let's build this website into a huge open source resource!</h4><a href="https://github.com/masonfox/why-use " class="button half-spacing">Contribute on Github</a>
      </div>
    </div>
  </div>
  <div class="half">
    <div class="row">
      <div class="small-12 medium-6 column text-center">
        <h2>The Vision</h2>
        <h4 class="text-left">We would love to see this website bloom into an open source objective resource on modern tech. If you feel you have anything to contribute, please message me and I would love to get you squared away to write.</h4><br/>
      </div>
      <div class="small-12 medium-6 column text-center">
        <h2>About</h2>
        <h4 class="text-left">The project was started to help eleviate the confusion surronding the abundance of web technologies at the disposal of web designers and developers. Find out when and why a specific technology would be useful.</h4>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="row">
    <div class="small-12 column text-center">
      <h6 class="light">&copy; Why Use | All Right's Reserved </h6>
    </div>
  </div>
</footer>
